@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:is(.dark *));


@layer base {
  :root {
    --background: 0 0% 97.65%;
    --foreground: 0 0% 12.55%;
    --card: 0 0% 98.82%;
    --card-foreground: 0 0% 12.55%;
    --popover: 0 0% 98.82%;
    --popover-foreground: 0 0% 12.55%;
    --primary: 16.67 21.95% 32.16%;
    --primary-foreground: 0 0% 100%;
    --secondary: 34.05 100.00% 85.49%;
    --secondary-foreground: 16.27 50.43% 22.94%;
    --muted: 0 0% 93.73%;
    --muted-foreground: 0 0% 39.22%;
    --accent: 0 0% 90.98%;
    --accent-foreground: 0 0% 12.55%;
    --destructive: 10.16 77.87% 53.92%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 84.71%;
    --input: 0 0% 84.71%;
    --ring: 16.67 21.95% 32.16%;
    --chart-1: 16.67 21.95% 32.16%;
    --chart-2: 34.05 100.00% 85.49%;
    --chart-3: 0 0% 90.98%;
    --chart-4: 34.58 100.00% 88.43%;
    --chart-5: 16.50 24.39% 32.16%;
    --sidebar: 0 0% 98.43%;
    --sidebar-foreground: 0 0% 14.51%;
    --sidebar-primary: 0 0% 20.39%;
    --sidebar-primary-foreground: 0 0% 98.43%;
    --sidebar-accent: 0 0% 96.86%;
    --sidebar-accent-foreground: 0 0% 20.39%;
    --sidebar-border: 0 0% 92.16%;
    --sidebar-ring: 0 0% 70.98%;
    --radius: 0.5rem;
    --font-sans: Montserrat, sans-serif;
    --font-serif: Lora, serif;
    --font-mono: Fira Code, monospace;
    --shadow-2xs: 0px 2px 3px 0px hsl(28 18% 25% / 0.09);
    --shadow-xs: 0px 2px 3px 0px hsl(28 18% 25% / 0.09);
    --shadow-sm: 0px 2px 3px 0px hsl(28 18% 25% / 0.18), 0px 1px 2px -1px hsl(28 18% 25% / 0.18);
    --shadow: 0px 2px 3px 0px hsl(28 18% 25% / 0.18), 0px 1px 2px -1px hsl(28 18% 25% / 0.18);
    --shadow-md: 0px 2px 3px 0px hsl(28 18% 25% / 0.18), 0px 2px 4px -1px hsl(28 18% 25% / 0.18);
    --shadow-lg: 0px 2px 3px 0px hsl(28 18% 25% / 0.18), 0px 4px 6px -1px hsl(28 18% 25% / 0.18);
    --shadow-xl: 0px 2px 3px 0px hsl(28 18% 25% / 0.18), 0px 8px 10px -1px hsl(28 18% 25% / 0.18);
    --shadow-2xl: 0px 2px 3px 0px hsl(28 18% 25% / 0.45);
  }
  
  .dark {
    --background: 0 0% 6.67%;
    --foreground: 0 0% 93.33%;
    --card: 0 0% 9.80%;
    --card-foreground: 0 0% 93.33%;
    --popover: 0 0% 9.80%;
    --popover-foreground: 0 0% 93.33%;
    --primary: 29.51 100% 88.04%;
    --primary-foreground: 183.16 54.29% 6.86%;
    --secondary: 28.24 17.53% 19.02%;
    --secondary-foreground: 29.51 100% 88.04%;
    --muted: 0 0% 13.33%;
    --muted-foreground: 0 0% 70.59%;
    --accent: 0 0% 16.47%;
    --accent-foreground: 0 0% 93.33%;
    --destructive: 10.16 77.87% 53.92%;
    --destructive-foreground: 0 0% 100%;
    --border: 45 14.29% 10.98%;
    --input: 0 0% 28.24%;
    --ring: 29.51 100% 88.04%;
    --chart-1: 29.51 100% 88.04%;
    --chart-2: 28.24 17.53% 19.02%;
    --chart-3: 0 0% 16.47%;
    --chart-4: 30.00 17.86% 21.96%;
    --chart-5: 30 100% 87.84%;
    --sidebar: 240 5.88% 10%;
    --sidebar-foreground: 240 4.76% 95.88%;
    --sidebar-primary: 224.28 76.33% 48.04%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.70% 15.88%;
    --sidebar-accent-foreground: 240 4.76% 95.88%;
    --sidebar-border: 240 3.70% 15.88%;
    --sidebar-ring: 240 4.88% 83.92%;
    --font-sans: Montserrat, sans-serif;
    --font-serif: Lora, serif;
    --font-mono: Fira Code, monospace;
    --shadow-2xs: 0px 2px 3px 0px hsl(0 0% 5% / 0.09);
    --shadow-xs: 0px 2px 3px 0px hsl(0 0% 5% / 0.09);
    --shadow-sm: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 1px 2px -1px hsl(0 0% 5% / 0.18);
    --shadow: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 1px 2px -1px hsl(0 0% 5% / 0.18);
    --shadow-md: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 2px 4px -1px hsl(0 0% 5% / 0.18);
    --shadow-lg: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 4px 6px -1px hsl(0 0% 5% / 0.18);
    --shadow-xl: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 8px 10px -1px hsl(0 0% 5% / 0.18);
    --shadow-2xl: 0px 2px 3px 0px hsl(0 0% 5% / 0.45);
  }

  .dark2 {
    --background: 0 0% 100%;
    --foreground: 210 25% 7.84%;
    --card: 180 6.67% 97.06%;
    --card-foreground: 210 25% 7.84%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 25% 7.84%;
    --primary: 203.89 88.28% 53.14%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 25% 7.84%;
    --secondary-foreground: 0 0% 100%;
    --muted: 240 1.96% 90%;
    --muted-foreground: 210 25% 7.84%;
    --accent: 211.58 51.35% 92.75%;
    --accent-foreground: 203.89 88.28% 53.14%;
    --destructive: 356.30 90.56% 54.31%;
    --destructive-foreground: 0 0% 100%;
    --border: 201.43 30.43% 90.98%;
    --input: 200 23.08% 97.45%;
    --ring: 202.82 89.12% 53.14%;
    --chart-1: 203.89 88.28% 53.14%;
    --chart-2: 159.78 100% 36.08%;
    --chart-3: 42.03 92.83% 56.27%;
    --chart-4: 147.14 78.50% 41.96%;
    --chart-5: 341.49 75.20% 50.98%;
    --sidebar: 180 6.67% 97.06%;
    --sidebar-foreground: 210 25% 7.84%;
    --sidebar-primary: 203.89 88.28% 53.14%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 211.58 51.35% 92.75%;
    --sidebar-accent-foreground: 203.89 88.28% 53.14%;
    --sidebar-border: 205.00 25.00% 90.59%;
    --sidebar-ring: 202.82 89.12% 53.14%;
  }

  .dark3 {
    --background: 0 0% 0%;
    --foreground: 200 6.67% 91.18%;
    --card: 228 9.80% 10%;
    --card-foreground: 0 0% 85.10%;
    --popover: 0 0% 0%;
    --popover-foreground: 200 6.67% 91.18%;
    --primary: 203.77 87.60% 52.55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 195.00 15.38% 94.90%;
    --secondary-foreground: 210 25% 7.84%;
    --muted: 0 0% 9.41%;
    --muted-foreground: 210 3.39% 46.27%;
    --accent: 205.71 70% 7.84%;
    --accent-foreground: 203.77 87.60% 52.55%;
    --destructive: 356.30 90.56% 54.31%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 5.26% 14.90%;
    --input: 207.69 27.66% 18.43%;
    --ring: 202.82 89.12% 53.14%;
    --chart-1: 203.89 88.28% 53.14%;
    --chart-2: 159.78 100% 36.08%;
    --chart-3: 42.03 92.83% 56.27%;
    --chart-4: 147.14 78.50% 41.96%;
    --chart-5: 341.49 75.20% 50.98%;
    --sidebar: 228 9.80% 10%;
    --sidebar-foreground: 0 0% 85.10%;
    --sidebar-primary: 202.82 89.12% 53.14%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 205.71 70% 7.84%;
    --sidebar-accent-foreground: 203.77 87.60% 52.55%;
    --sidebar-border: 205.71 15.79% 26.08%;
    --sidebar-ring: 202.82 89.12% 53.14%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
